.filtra-in-base {
    position: relative;
    display: flex;
    font-weight: 700;
}
.filtra-in-base:hover {
    font-weight: 700;
    font-family: var(--paragraph);
    font-size: var(--h6-size);
    text-align: left;
    color: var(--color-white);
    display: flex;
}
.label-tag {
    overflow: hidden;
    font-size: var(--h6-size);
}
.label-tag,
.label-tag:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xs) var(--padding-22xl-5);
    box-sizing: border-box;
}
.nazionalit {
    position: relative;
    display: flex;
    min-width: 84;
}
.nazionalit:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: left;
    color: var(--color-white);
    display: flex;
    min-width: 84;
}
.scegli,
.scegli:hover {
    display: flex;
    min-width: 60;
}
.scegli {
    position: relative;
}
.scegli:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
}
.sort-down-icon {
    position: relative;
    object-fit: contain;
}
.sort-down-icon,
.sort-down-icon:hover {
    display: flex;
    width: 20px;
    height: 20px;
    min-height: 20;
}
.sorting-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--black);
}
.sorting-area,
.sorting-area:hover {
    background-color: var(--color-white);
    align-self: unset;
    gap: var(--gap-8xs);
    justify-content: center;
    border-radius: var(--br-6xl);
    padding: var(--padding-8xs) var(--padding-sm-5);
}
.nazionalit-parent,
.sorting-area {
    overflow: hidden;
}
.nazionalit-parent,
.nazionalit-parent:hover,
.sorting-area:hover {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.nazionalit-parent,
.nazionalit-parent:hover {
    align-self: stretch;
    gap: var(--gap-xl);
    justify-content: space-between;
    padding: var(--padding-11xs) 0;
}
.aggiungi,
.ruolo {
    position: relative;
    display: flex;
    min-width: 43;
}
.aggiungi:hover,
.ruolo:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: left;
    color: var(--color-white);
    display: flex;
    min-width: 43;
}
.aggiungi {
    min-width: 67;
}
.aggiungi:hover {
    text-align: center;
    color: var(--black);
    min-width: 67;
}
.sort-down-icon1 {
    position: relative;
    object-fit: contain;
}
.sort-down-icon1,
.sort-down-icon1:hover {
    display: flex;
    width: 20px;
    height: 20px;
    min-height: 20;
}
.aggiungi-parent {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--black);
}
.aggiungi-parent,
.aggiungi-parent:hover {
    background-color: var(--color-white);
    align-self: unset;
    gap: var(--gap-8xs);
    justify-content: center;
    border-radius: var(--br-6xl);
    padding: var(--padding-8xs) var(--padding-3xs);
}
.ruolo-parent {
    overflow: hidden;
}
.aggiungi-parent:hover,
.ruolo-parent,
.ruolo-parent:hover {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.ruolo-parent,
.ruolo-parent:hover {
    align-self: stretch;
    gap: var(--gap-xl);
    justify-content: space-between;
    padding: var(--padding-11xs) 0;
}
.campionato {
    position: relative;
    display: flex;
    min-width: 92;
}
.campionato:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: left;
    color: var(--color-white);
    display: flex;
    min-width: 92;
}
.scegli1,
.scegli1:hover {
    display: flex;
    min-width: 60;
}
.scegli1 {
    position: relative;
}
.scegli1:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
}
.sort-down-icon2 {
    position: relative;
    object-fit: contain;
}
.sort-down-icon2,
.sort-down-icon2:hover {
    display: flex;
    width: 20px;
    height: 20px;
    min-height: 20;
}
.scegli-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--black);
}
.scegli-parent,
.scegli-parent:hover {
    background-color: var(--color-white);
    align-self: unset;
    gap: var(--gap-8xs);
    justify-content: center;
    border-radius: var(--br-6xl);
    padding: var(--padding-8xs) var(--padding-sm-5);
}
.campionato-parent,
.scegli-parent {
    overflow: hidden;
}
.campionato-parent,
.campionato-parent:hover,
.scegli-parent:hover {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.campionato-parent,
.campionato-parent:hover {
    align-self: stretch;
    gap: var(--gap-xl);
    justify-content: space-between;
    padding: var(--padding-11xs) 0;
}
.selezionati,
.selezionati:hover {
    display: flex;
    min-width: 88;
}
.selezionati:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--color-white);
}
.selezionati,
.serie-a {
    position: relative;
}
.serie-a,
.serie-a:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
    display: flex;
    min-width: 53;
}
.close-icon1 {
    position: relative;
    object-fit: contain;
}
.close-icon1,
.close-icon1:hover {
    display: flex;
    width: 20px;
    height: 20px;
    min-height: 20;
}
.selected-filter-toggle {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs);
    background-color: var(--primary-blue-50);
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-8xs);
    white-space: nowrap;
    align-self: unset;
}
.close-icon,
.selected-filter-toggle,
.selected-filter-toggle:hover {
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: auto;
}
.selected-filter-toggle:hover {
    background-color: var(--primary-blue-50);
    align-self: unset;
    flex-direction: row;
    gap: var(--gap-8xs);
    align-items: center;
    justify-content: center;
    border-radius: var(--br-xs);
    padding: var(--padding-8xs);
    white-space: nowrap;
}
.close-icon {
    align-self: stretch;
    overflow: hidden;
    justify-content: flex-start;
}
.close-icon,
.close-icon:hover {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-3xs);
    align-items: center;
    padding: var(--padding-3xs);
}
.settings-box {
    overflow: hidden;
    text-align: center;
    font-size: var(--paragraph-size);
    color: var(--color-white);
    font-family: var(--paragraph);
}
.close-icon:hover,
.settings-box,
.settings-box:hover {
    display: flex;
    align-self: stretch;
    width: auto;
    height: auto;
    justify-content: flex-start;
    box-sizing: border-box;
}
.settings-box,
.settings-box:hover {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: flex-start;
    padding: 0 0 var(--padding-8xl);
}
.esegui-ricerca {
    position: relative;
}
.esegui-ricerca,
.esegui-ricerca:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
    display: flex;
    min-width: 107;
}
.selected-filter-toggle1 {
    cursor: pointer;
    border: 0;
    overflow: hidden;
}
.selected-filter-toggle1,
.selected-filter-toggle1:hover {
    background-color: var(--color-lime);
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-8xs);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-8xs);
    box-sizing: border-box;
    white-space: nowrap;
}
.elimina-filtri {
    position: relative;
}
.elimina-filtri,
.elimina-filtri:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--color-white);
    display: flex;
    min-width: 91;
}
.selected-filter-toggle2,
.selected-filter-toggle2:hover {
    background-color: var(--color-red);
    width: auto;
    align-self: unset;
    flex-direction: row;
    gap: var(--gap-8xs);
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-8xs);
    box-sizing: border-box;
    white-space: nowrap;
}
.selected-filter-toggle2 {
    cursor: pointer;
    border: 0;
}
.selected-filter-toggle2:hover {
    display: flex;
    height: auto;
    align-items: flex-start;
}
.function-panel,
.selected-filter-toggle2 {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    height: auto;
}
.function-panel,
.function-panel:hover {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-lg);
    justify-content: space-between;
}
.filters {
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: var(--paragraph-size);
    color: var(--color-white);
    font-family: var(--paragraph);
}
.filters,
.filters:hover,
.function-panel:hover {
    display: flex;
    height: auto;
    align-items: flex-start;
}
.filters,
.filters:hover {
    background-color: var(--primary-blue-900);
    width: 256px;
    flex-direction: column;
    gap: var(--gap-3xs);
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
}
