.roma,
.roma:hover {
    font-weight: 700;
    display: flex;
    align-self: stretch;
    width: auto;
    min-width: 103;
}
.roma {
    position: relative;
}
.roma:hover {
    font-family: var(--paragraph);
    font-size: var(--font-size-14xl-2);
    text-align: right;
    color: var(--black);
}
.roma-wrapper,
.roma-wrapper:hover {
    display: flex;
    width: 103px;
    height: auto;
    flex-direction: column;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: var(--padding-19xl-5) 0 0;
    box-sizing: border-box;
}
.s-a-l-e-r-n-i-t-a-n-a {
    position: relative;
    object-fit: cover;
}
.s-a-l-e-r-n-i-t-a-n-a,
.s-a-l-e-r-n-i-t-a-n-a:hover {
    display: flex;
    width: 116px;
    height: 117px;
}
.game-informationbasic-squad-i {
    overflow: hidden;
}
.game-informationbasic-squad-i,
.game-informationbasic-squad-i:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-21xl);
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-142xl);
    box-sizing: border-box;
    max-width: 100%;
}
.p {
    margin: 0;
}
.terminata1 {
    margin: 0;
    font-size: var(--font-size-14xl-2);
}
.terminata,
.terminata:hover {
    display: flex;
    align-self: stretch;
    width: auto;
}
.terminata {
    position: relative;
}
.terminata:hover {
    text-align: center;
    color: var(--black);
}
.g-o-a-l-s-r-o-w {
    text-align: center;
    font-size: var(--font-size-28xl-8);
}
.g-o-a-l-s-r-o-w,
.g-o-a-l-s-r-o-w:hover {
    display: flex;
    width: 157px;
    height: auto;
    flex-direction: column;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: var(--padding-2xl) 0 0;
    box-sizing: border-box;
}
.game-informationbasic-squad-i-child {
    position: relative;
    object-fit: cover;
}
.game-informationbasic-squad-i-child,
.game-informationbasic-squad-i-child:hover {
    display: flex;
    width: 115px;
    height: 117px;
}
.salernitana {
    position: relative;
    display: flex;
    font-weight: 700;
}
.salernitana:hover {
    font-weight: 700;
    font-family: var(--paragraph);
    font-size: var(--font-size-14xl-2);
    text-align: left;
    color: var(--black);
    display: flex;
}
.salernitana-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-19xl-5) 0 0;
    width: auto;
    align-self: unset;
    gap: var(--gap-0);
    transform: rotate(0deg);
}
.game-informationbasic-squad-i1,
.salernitana-wrapper,
.salernitana-wrapper:hover {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: auto;
}
.salernitana-wrapper:hover {
    width: auto;
    align-self: unset;
    flex-direction: column;
    gap: var(--gap-0);
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: var(--padding-19xl-5) 0 0;
}
.game-informationbasic-squad-i1 {
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    max-width: 100%;
    text-align: left;
}
.game-informationbasic-squad-i1,
.game-informationbasic-squad-i1:hover {
    width: 400px;
    gap: var(--gap-3xs);
    justify-content: flex-start;
    border-radius: var(--br-21xl);
    padding: var(--padding-3xs);
}
.game-header {
    overflow: hidden;
    text-align: right;
}
.game-header,
.game-header:hover,
.game-informationbasic-squad-i1:hover {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}
.game-header,
.game-header:hover {
    background-color: var(--primary-blue-100);
    align-self: stretch;
    width: auto;
    gap: var(--gap-lgi-5);
    justify-content: center;
    padding: var(--padding-xl);
}
.abelotti-82-17,
.abelotti-82-17:hover {
    display: flex;
    align-self: stretch;
    width: auto;
    min-width: 118;
}
.abelotti-82-17 {
    position: relative;
}
.abelotti-82-17:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
}
.a-candreva,
.a-candreva:hover {
    display: flex;
    width: 118px;
    height: auto;
    flex-direction: column;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
}
.soccer-ball-icon {
    position: relative;
    object-fit: cover;
}
.soccer-ball-icon,
.soccer-ball-icon:hover {
    display: flex;
    width: 31px;
    height: 31px;
}
.game-event-icon {
    overflow: hidden;
}
.game-event-icon,
.game-event-icon:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: 31px;
    flex-direction: row;
    gap: var(--gap-3xs);
    align-items: center;
    justify-content: center;
}
.acandreva-49-36,
.acandreva-49-36:hover {
    display: flex;
    align-self: stretch;
    width: auto;
}
.acandreva-49-36 {
    position: relative;
}
.acandreva-49-36:hover {
    font-family: var(--paragraph);
    font-size: var(--paragraph-size);
    text-align: center;
    color: var(--black);
}
.a-candreva1 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: auto;
}
.a-candreva1,
.a-candreva1:hover {
    width: 146px;
    flex-direction: column;
    gap: var(--gap-0);
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: var(--padding-7xs) 0 0;
}
.goals-row {
    overflow: hidden;
    font-size: var(--paragraph-size);
}
.a-candreva1:hover,
.goals-row,
.goals-row:hover {
    display: flex;
    height: auto;
    align-items: flex-start;
    box-sizing: border-box;
}
.goals-row,
.goals-row:hover {
    background-color: var(--primary-blue-100);
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-3xs);
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
}
.informazioni,
.informazioni:hover {
    line-height: 40px;
    display: flex;
    width: 160px;
}
.informazioni {
    position: relative;
    align-items: center;
    justify-content: center;
}
.informazioni:hover {
    font-family: var(--paragraph);
    font-size: var(--h4-size);
    text-align: center;
    color: var(--black);
}
.tab-button-for-game-navbar {
    overflow: hidden;
    flex-shrink: 0;
}
.tab-button-for-game-navbar,
.tab-button-for-game-navbar:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-sm) var(--padding-xl);
    box-sizing: border-box;
}
.informazioni1,
.informazioni1:hover {
    font-weight: 700;
    line-height: 40px;
    display: flex;
    width: 85px;
    min-width: 85;
}
.informazioni1 {
    position: relative;
    align-items: center;
    justify-content: center;
}
.informazioni1:hover {
    font-family: var(--paragraph);
    font-size: var(--h4-size);
    text-align: center;
    color: var(--black);
}
.informazioni-wrapper,
.informazioni-wrapper:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(0deg);
    padding: 0 var(--padding-33xl) 0 var(--padding-32xl-5);
    box-sizing: border-box;
}
.tab-button-for-game-navbar-child {
    position: relative;
}
.tab-button-for-game-navbar-child,
.tab-button-for-game-navbar-child:hover {
    background-color: var(--primary-blue-600);
    display: flex;
    align-self: stretch;
    width: auto;
    height: 9px;
    border-radius: var(--br-11xl);
}
.tab-button-for-game-navbar1 {
    overflow: hidden;
    flex-shrink: 0;
}
.tab-button-for-game-navbar1,
.tab-button-for-game-navbar1:hover {
    display: flex;
    width: 210px;
    height: auto;
    flex-direction: column;
    gap: var(--gap-8xs);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-sm) var(--padding-3xs) 0 var(--padding-2xs);
    box-sizing: border-box;
}
.informazioni2,
.informazioni2:hover {
    line-height: 40px;
    display: flex;
    width: 143px;
}
.informazioni2 {
    position: relative;
    align-items: center;
    justify-content: center;
}
.informazioni2:hover {
    font-family: var(--paragraph);
    font-size: var(--h4-size);
    text-align: center;
    color: var(--black);
}
.tab-button-for-game-navbar2 {
    overflow: hidden;
    flex-shrink: 0;
}
.tab-button-for-game-navbar2,
.tab-button-for-game-navbar2:hover {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-sm) var(--padding-9xl-5);
    box-sizing: border-box;
}
.informazioni3,
.informazioni3:hover {
    line-height: 40px;
    display: flex;
    width: 139px;
}
.informazioni3 {
    position: relative;
    align-items: center;
    justify-content: center;
}
.informazioni3:hover {
    font-family: var(--paragraph);
    font-size: var(--h4-size);
    text-align: center;
    color: var(--black);
}
.game-navbar,
.tab-button-for-game-navbar3 {
    flex-direction: row;
    width: auto;
    gap: var(--gap-0);
}
.tab-button-for-game-navbar3,
.tab-button-for-game-navbar3:hover {
    align-self: unset;
    justify-content: flex-start;
    border-radius: var(--br-xs);
    padding: var(--padding-sm) var(--padding-11xl-5);
    box-sizing: border-box;
}
.tab-button-for-game-navbar3 {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    height: auto;
}
.tab-button-for-game-navbar3:hover {
    width: auto;
    flex-direction: row;
    gap: var(--gap-0);
}
.game-navbar {
    align-self: stretch;
    background-color: var(--primary-blue-100);
    overflow-x: auto;
    justify-content: center;
    font-size: var(--h4-size);
}
.game-header-container,
.game-navbar,
.game-navbar:hover,
.tab-button-for-game-navbar3:hover {
    display: flex;
    align-items: flex-start;
    height: auto;
}
.game-navbar:hover {
    background-color: var(--primary-blue-100);
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-0);
    justify-content: center;
}
.game-header-container {
    background-color: var(--color-white);
    overflow: hidden;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-14xl-2);
    color: var(--black);
    font-family: var(--paragraph);
}
.game-header-container,
.game-header-container:hover {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-0);
    max-width: 100%;
}
.game-header-test {
    position: relative;
    overflow: hidden;
}
.game-header-container:hover,
.game-header-test,
.game-header-test:hover {
    background-color: var(--color-white);
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
}
.game-header-test,
.game-header-test:hover {
    width: 1174px;
    flex-direction: row;
    gap: var(--gap-3xs);
    letter-spacing: normal;
}
@media screen and (max-width: 975px) {
    .roma {
        font-size: var(--font-size-8xl);
    }
    .terminata {
        font-size: var(--font-size-19xl);
    }
    .salernitana {
        font-size: var(--font-size-8xl);
    }
    .game-header {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 450px) {
    .roma {
        font-size: var(--font-size-xl);
    }
    .s-a-l-e-r-n-i-t-a-n-a {
        flex: 1;
    }
    .game-informationbasic-squad-i {
        flex-wrap: wrap;
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
    .terminata {
        font-size: 28px;
    }
    .game-informationbasic-squad-i-child {
        flex: 1;
    }
    .salernitana {
        font-size: var(--font-size-xl);
    }
    .game-informationbasic-squad-i1,
    .goals-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .informazioni,
    .informazioni1,
    .informazioni2,
    .informazioni3 {
        font-size: var(--font-size-3xl);
        line-height: 32px;
    }
}
